<%- include('../includes/head', {pageTitle: 'Forgot Password'}) %>
<link rel="stylesheet" href="styles/forms.css">
<link rel="stylesheet" href="styles/auth.css">
</head>

<body>
    <!--Include the header-->
    <%- include('../includes/header') %>
    <main>
        <h1>
            Change your password
        </h1>
        <form action="/changePassword" method="POST"> <!-- Form is sent to currentUrl/signup via a POST method-->
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <div>
                <% if (locals.invalidEmail) { %>
                    <p>No user with that email, please try again!</p>
                <% } %>
                <label for="user-email">E-Mail</label>
                <input type="email" id="user-email" name="user-email" required>
            </div>
            <% if (locals.invalidPassword) { %>
                <p>Passwords do not match or they are empty</p>
            <% } %>
            <div>
                <label for="password">New Password</label>
                <input type="password" id="password" name="password" minlength="6" required>
            </div>
            <div>
                <label for="repeat-password">Repeat Password</label>
                <input type="password" id="repeat-password" name="repeat-password" minlength="6" required>
            </div>
            <button class="btn">Change Password</button>
            <p>
                <a href="/changePassword">Forgot Password</a>
            </p>
            <p id="switch-form">
                <a href="/signup">Create an account instead</a>
            </p>
        </form>
    </main>
<%- include('../includes/footer') %>