<header>
    <div><a href="/">Instagram</a></div>
    <nav>
        <ul>
            <% if (locals.loggedIn) { %>
            <li>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                    <button>Logout</button>
                </form>
                
                <!-- Button to go to the chats -->
                <a href="/chat/inbox">Chats</a>
            </li>
            <% } %>
        </ul>


        <% if (locals.loggedIn) {%>
        <!-- IF the user is logged In, show the notifications option -->
            <button id="show-notifications-button" value="<%= locals.userId %>"
            style="visibility: hidden"></button>

        <div id="notifications-div" style="visibility: hidden">
            <ul id="requestToFollow-list"></ul>
            <ul id="follow-list"></ul>
            <ul id="likes-list"></ul>
            <ul id="comments-list"></ul>
        </div>
        <% } %>
    </nav>
</header>