<%- include('./includes/head', {pageTitle: 'instagram'}) %>
</head>

<body>
<!--Include the header-->
<%- include('./includes/header') %>
<main>
    <% if (locals.isAuth) { %>
        <h2>Welcome <%= locals.userName %></h2>
    <% }%>

        <a href="/createPost">Create post</a>
</main>
<%- include('./includes/footer') %>