<%- include('../includes/head', {pageTitle: 'Create Post'}) %>
<script src="/public/scripts/stories/uploadFilesForStories.js" defer></script>
</head>

<body>
<!--Include the header-->
<%- include('../includes/header') %>
<main>
    <h1>
        Create New Story
    </h1>
    <form enctype="multipart/form-data"> <!-- Form is sent to currentUrl/signup via a POST method-->
        <input type="hidden" id="csrf_story" name="_csrf" value="<%= locals.csrfToken %>">
        <div>
            <label for="filesForStory">Images and/or videos</label>
            <input type="file" id="filesForStory" name="filesForStory" multiple required>
        </div>
        <div>
            <label for="caption">Caption</label>
            <input type="text" id="caption" name="caption" required>
        </div>


        <button class="btn" id="post-story-button">Post Story</button>
        <p id="switch-form">
            <a href="/">Return home</a>
        </p>
    </form>
</main>
<%- include('../includes/footer') %>